
<section id="mitgliedschaft">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h2>Impressum</h2>

        <p>
        1. TFC Leipzig<br />
        Vereinssitz: Hardenbergstraße 16, 04275 Leipzig<br />
        Spielstätte: Kicker’s in, Karl-Liebknecht-Straße 81, 04275 Leipzig<br />
        </p>
        Facebook

        <p>
        Telefon: 0176 23733892<br />
        E-Mail: info@tfc-leipzig.com<br />
        www.kickern-in-leipzig.de<br />
        www.tfc-leipzig.com<br />
        <%= link_to 'Facebook', 'https://www.facebook.com/tfcleipzig/' %>
        </p>

        <p>
        1. Vorsitzender: Thomas Kroll<br />
        2. Vorsitzender: Thomas Höhne
        </p>

        <p>
        Schriftführerin: Marlen Weise<br />
        Kassenwart: Martin Kleßen
        </p>

        <p>
        1. Beisitzender: Felix Lanyi<br />
        2. Beisitzender: Karl-Heinz Weiß
        </p>

        <p>
        Öffentlichkeitsarbeit: Thomas Höhne<br />
        E-Mail: thomashoehne@tfc-leipzig.com
        </p>

        <p>
        Inhaltlich Verantwortlicher gemäß § 55 Abs. 2 RStV:<br />
        Thomas Höhne, Hardenbergstraße 16, D-04275 Leipzig
        </p>

        <p>
        Haftungshinweis:<br />
        Trotz sorgfältiger inhaltlicher Kontrolle übernehmen wir keine Haftung für die Inhalte externer Links. Für den Inhalt der verlinkten Seiten sind ausschließlich deren Betreiber verantwortlich.
        </p>
      </div>
    </div>
  </div>
</section>