<section id="training">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h2>Training</h2>
        <p>
          Wir treffen uns jeden Mittwoch und Sonntag von 15:00 bis 18:00 im Kickers In zum Training.
        </p>
      </div>
    </div>
  </div>
</section>

<section id="mitgliedschaft">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h2>Mitgliedschaft</h2>
        <p>
          Ihr seid kickerverrückt, steht 24/7 am Tisch, Gott persönlich hat euch bei der Geburt mit überdurchschnittlichen Talent gesegnet und eure Arme in Donnerschläge verwandelt? Top! Wir geben uns anfangs aber auch schon mit etwas weniger zufrieden. Leidenschaft, Ehrgeiz, Teamfähigkeit und Trainingsfleiß sind die zu erfüllenden Kriterien. Den Rest bringen wir euch bei.
        </p>
        <p>
          Wenn ihr zur Nummer Eins gehören wollt und mit Herzblut bei der Sache seid, heißen wir euch beim 1. TFC Leipzig jederzeit herzlich willkommen! Füllt hierzu einfach das unten verlinkte Anmeldeformular aus und besucht uns im Kicker’s in!
        </p>
        <p>
          Wir freuen uns auf euch!
        </p>
      </div>
    </div>
  </div>
</section>
