<section>
  <div class="container">
    <div class="row">
      <div class="col">
        <h2>Mannschaften</h2>
        <p>
          <ul>
            <li>TFC Leipzig in der Herren- und Damen-Bundesliga
            <li>TFC Leipzig 2 in der Landesliga
            <li>TFC Leipzig 3 in der Landesliga
            <li>TFC Leipzig 4 in der Verbandsliga
            <li>TFC Leipzig 5 in der Bezirksliga Ost
            <li>TFC Leipzig 6 in der Bezirksliga West
          </ul>
        </p>
      </div>
      <div class="col">
        <h2>Training</h2>
        <p>
          Wir treffen uns jeden Mittwoch und Sonntag von 15:00 bis 18:00 Uhr im Vereinsheim in der Körnerstr. 41, 04107 Leipzig. Natürlich ist es auch abseits dieser Zeiten möglich, das Vereinsheim zu nutzen, dazu bitte eine Nachricht an info@tfc-leipzig.com
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h2>Interesse?</h2>
        <p>
        Ihr habt Interesse am Kickersport und wollt euch das ganze mal genauer anschauen? Gern könnte ihr zum Probetraining vorbeikommen um euch selbst ein Bild zu machen. Am besten schickt ihr uns eine kurze Mail an info@tfc-leipzig.com und kommt zum nächsten Training einfach vorbei.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h2>Erfolge</h2>
        <p>
        Der 1. TFC Leipzig ist nicht nur traditionell die Nummer 1 in lokaler und regionaler Hinsicht – nein, wir waren auch mal national berühmt-berüchtigt für unser „Studentenkickern“, gepaart mit kämpferischer Klasse der Extravaganz. Die TFC-Herren versetzten die Gegner Saison für Saison in Schrecken – und sie tun es zum Teil auch heute noch, allerdings unter anderer Flagge (seit 2019 spielt die Mannschaft unter dem Sponsor „Silpion Hamburg“). Unsere Damenmannschaft wurde neu aufgebaut und wir können mit Stolz behaupten, wieder in der Bundesliga aktiv zu sein. Im Moment ist das Team in der 2. Damenbundesliga; mit dem vorhandenen Talent, Fleiß und Spaß am Spiel sind alle Voraussetzungen erfüllt, damit auch zukünftig Sport auf hohem Niveau betrieben werden kann.
        </p>
        <p>
        Du möchtest uns unterstützen? Immer gerne :) Finanzielle Spenden zwecks Fahrtkosten/Übernachtung fallen in dankbare Hände und die Hege & Pflege des Vereinsheims kommt allen Mitgliedern zugute.
        </p>
        <p>
        Große Vereinserfolge in der jüngeren Vergangenheit:
        </p>
        <p>
          <ul>
            <li>2015 - 1. Platz in der 2. Herren-Bundesliga</li>
            <li>2016 - 2. Platz in der 1. Herren-Bundesliga</li>
            <li>2017 - 3. Platz in der 1. Herren-Bundesliga</li>
            <li>2018 - 5. Platz in der 1. Herren-Bundesliga</li>
          </ul>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h2>Mitgliedschaft</h2>
        <p>
          Ihr seid kickerverrückt, steht 24/7 am Tisch, Gott persönlich hat euch bei der Geburt mit überdurchschnittlichen Talent gesegnet und eure Arme in Donnerschläge verwandelt? Top! Wir geben uns anfangs aber auch schon mit etwas weniger zufrieden. Leidenschaft, Ehrgeiz, Teamfähigkeit und Trainingsfleiß sind die zu erfüllenden Kriterien. Den Rest bringen wir euch bei.
        </p>
        <p>
          Wenn ihr zur Nummer Eins gehören wollt und mit Herzblut bei der Sache seid, heißen wir euch beim 1. TFC Leipzig jederzeit herzlich willkommen! Füllt hierzu einfach das unten verlinkte <%= link_to 'Anmeldeformular', '/assets/static/mitgliedsantrag-tfc-leipzig.pdf' %>
         aus und besucht uns im Kicker’s in!
        </p>
        <p>
          Wir freuen uns auf euch!
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h2>Events</h2>
        <p>
        Wir sind als Verein natürlich stolz auf unsere sportlichen Erfolge und unsere Grillfeste sind schon bald legendär – aber wir können auch organisieren und anpacken! Falls ein Event mit Tischfußballbezug (z.B. Mitarbeiterfest mit Kickertisch) Unterstützung benötigt, einfach eine Mail an info@tfc-leipzig.com schreiben und unsere tatkräftigen Mitglieder werden mit ihrer Expertise und Aufgeschlossenheit gerne dazu beitragen, die Feier zu einem vollen Erfolg zu machen.
        </p>
      </div>
    </div>
  </div>
</section>
