<section>
  <div class="container">
    <div class="row">
      <div class="col">
        <h2>Mannschaften</h2>
        <p>
          <ul>
            <li>TFC Leipzig 1 in der Regionalliga (<%= link_to 'MTFV', 'http://www.mtfv1.de/index.php/de/design-and-features/verbandsligen/mannschaften?task=team_details&veranstaltungid=34&id=289' %>)</li>
            <li>TFC Leipzig 2 in der Regionalliga (<%= link_to 'MTFV', 'http://www.mtfv1.de/index.php/de/design-and-features/verbandsligen/mannschaften?task=team_details&veranstaltungid=34&id=290' %>)</li>
            <li>TFC Leipzig 3 in der Landesklasse 1 (<%= link_to 'MTFV', 'http://www.mtfv1.de/index.php/de/design-and-features/verbandsligen/mannschaften?task=team_details&veranstaltungid=37&id=304' %>)</li>
          </ul>
        </p>
      </div>
      <div class="col">
        <h2>Training</h2>
        <p>
          Wir treffen uns jeden Mittwoch und Sonntag von 15:00 bis 18:00 im Kickers In zum Training.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h2>Verbio-Cup Vorbereitung</h2>
        <p>
        Für Schüler und Schülerinnen, die am Verbio-Cup teilnehmen, bieten wir einen Trainingsnachmittag an. Hierzu könnt ihr gerne am Samstag, den 22.06.2019 in der Zeit von 12-18 Uhr im Kickers In (Karl-Liebknecht Straße 81, 04275 Leipzig) in Leipzig vorbeikommen.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h2>Interesse?</h2>
        <p>
        Ihr habt Interesse am Kickersport und wollt euch das ganze mal genauer anschauen? Gern könnte ihr zum Probetraining vorbeikommen um euch selbst ein Bild zu machen. Am besten schickt ihr uns eine kurze Mail an info@tfc-leipzig.com und kommt zum nächsten Training einfach vorbei.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h2>Mitgliedschaft</h2>
        <p>
          Ihr seid kickerverrückt, steht 24/7 am Tisch, Gott persönlich hat euch bei der Geburt mit überdurchschnittlichen Talent gesegnet und eure Arme in Donnerschläge verwandelt? Top! Wir geben uns anfangs aber auch schon mit etwas weniger zufrieden. Leidenschaft, Ehrgeiz, Teamfähigkeit und Trainingsfleiß sind die zu erfüllenden Kriterien. Den Rest bringen wir euch bei.
        </p>
        <p>
          Wenn ihr zur Nummer Eins gehören wollt und mit Herzblut bei der Sache seid, heißen wir euch beim 1. TFC Leipzig jederzeit herzlich willkommen! Füllt hierzu einfach das unten verlinkte <%= link_to 'Anmeldeformular', '/assets/static/mitgliedsantrag-tfc-leipzig.pdf' %>
         aus und besucht uns im Kicker’s in!
        </p>
        <p>
          Wir freuen uns auf euch!
        </p>
      </div>
    </div>
  </div>
</section>
